.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white; /* or any color that matches your design */
    z-index: 1000; /* any large number, to ensure the header is above all other content */
    padding-bottom: 20px
  }

  .book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
  }